<div class="m-2">
  <h2 class="d-flex p-2">Car Plates</h2>
  <div class="row">
    <div class="col-8">
      <app-car-plates-add (refreshData)="list()"></app-car-plates-add>
    </div>
    <div class="col-4">
      <form class="form-inline my-2 my-lg-0">
        <input #searchInput class="form-control mr-sm-2" type="search" (input)="searchClick(searchInput.value)"
          placeholder="Search" aria-label="Search">
        <button mat-flat-button color="primary" (click)="searchClick(searchInput.value)" type="submit">Search</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="tableDiv" style="width:100%; margin-top:10px">
        <table mat-table matSort matSortActive="Owner" matSortDirection="asc"
          [dataSource]="loadedValues" class="mat-elevation-z8">
          <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner </th>
            <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
          </ng-container>

          <ng-container matColumnDef="carPlate" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Car Plate </th>
            <td mat-cell *matCellDef="let element"> {{element.carPlate}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-button (click)="editClick($event, element)">Edit</button>
              <button mat-button mwlConfirmationPopover [popoverTitle]="'Are you sure'"
                [popoverMessage]="'it will be deleted'" placement="left"
                (confirm)="deleteClick($event, element)">Delete</button>
            </td>

          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table >
      </div>
    </div>
  </div>
</div>